{% extends 'base.html' %}
{% load static %}
{% block title %}
    Havana Cigar Shop | home
{% endblock %}
<!DOCTYPE html>
<html lang="en">
{% block content %}
  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home:home' %}"><h2><em>Havana</em> Cigar</h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'home:home' %}">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'products:products' %}">Our Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home:about_us' %}">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home:contact_us' %}">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account:log in' %}">Login/Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link-cart" href="{% url 'products:cart_products' %}">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </a>
              </li>

            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner header-text">
      <div class="owl-banner owl-carousel">
        <div class="banner-item-01">
          <div class="text-content">
            <h4>Havana Cigar Shop</h4>
            <h2>best cigar brands</h2>
          </div>
        </div>
        <div class="banner-item-02">
          <div class="text-content">
            <h4>Havana Cigar Shop</h4>
            <h2>Excellent quality cigars</h2>
          </div>
        </div>
        <div class="banner-item-03">
          <div class="text-content">
            <h4>Havana Cigar Shop</h4>
            <h2>free shipping</h2>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->

    <div class="latest-products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
              <div class="col-md-12">
                    <div class="filters">
                      <ul>
                          <li><a href="{% url 'products:products' %}">All Products</a></li>
                  {% for item in categories %}
                    <li><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></li>
                  {% endfor %}
                      </ul>
                    </div>
              </div>
            <div class="section-heading">
              <h2>Latest Products</h2>
              <a href="{% url 'products:products' %}">view all products <i class="fa fa-angle-right"></i></a>
            </div>
          </div>
            {% for item in products %}
                <div class="col-md-4">
            <div class="product-item">
              <a href="{{ item.get_absolute_url }}"><img src="{{ item.image.url }}" alt="{{ item.title }}"></a>
              <div class="down-content">
                <a href="{{ item.get_absolute_url }}"><h4>{{ item.title }}</h4></a>
                <h6>${{ item.price }}</h6>
                <p>{{ item.description }}</p>
{#                <ul class="stars">#}
{#                  <li><i class="fa fa-star"></i></li>#}
{#                  <li><i class="fa fa-star"></i></li>#}
{#                  <li><i class="fa fa-star"></i></li>#}
{#                  <li><i class="fa fa-star"></i></li>#}
{#                  <li><i class="fa fa-star"></i></li>#}
{#                </ul>#}
                <span>Add To Cart</span>
              </div>
            </div>
          </div>
            {% endfor %}
        </div>
      </div>
    </div>

    <div class="best-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>About Sixteen Clothing</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              <h4>Looking for the best products?</h4>
              <p><a rel="nofollow" href="https://templatemo.com/tm-546-sixteen-clothing" target="_parent">This template</a> is free to use for your business websites. However, you have no permission to redistribute the downloadable ZIP file on any template collection website. <a rel="nofollow" href="https://templatemo.com/contact">Contact us</a> for more info.</p>
              <ul class="featured-list">
                <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                <li><a href="#">Consectetur an adipisicing elit</a></li>
                <li><a href="#">It aquecorporis nulla aspernatur</a></li>
                <li><a href="#">Corporis, omnis doloremque</a></li>
                <li><a href="#">Non cum id reprehenderit</a></li>
              </ul>
              <a href="about.html" class="filled-button">Read More</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">
              <img src="{% static 'images/feature-image.jpg' %}" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <div class="row">
                <div class="col-md-8">
                  <h4>Creative &amp; Unique <em>Sixteen</em> Products</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque corporis amet elite author nulla.</p>
                </div>
                <div class="col-md-4">
                  <a href="#" class="filled-button">Purchase Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




  </body>
{% endblock %}
</html>
