{% extends 'base.html' %}
{% load static %}
{% block title %}
    Havana Cigar Shop | products
{% endblock %}
<!DOCTYPE html>
<html lang="en">
{% block content %}
  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home:home' %}"><h2><em>havana</em> Cigar Shop</h2>></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home:home' %}">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'products:products' %}">Our Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home:about_us' %}">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home:contact_us' %}">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account:log in' %}">Login/Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link-cart" href="{% url 'products:cart_products' %}">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </a>
              </li>

            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    <div class="page-heading products-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>havana cigar shop</h4>
              <h2>Cart Products</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <div class="products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="filters-content">
                <div class="row grid">
                    {% for item in cart %}
                        <div class="col-lg-4 col-md-4 all des">
                      <div class="product-item">
                        <a href="#"><img src="{{ item.product.image.url }}" alt="{{ item.product.title }}"></a>
                        <div class="down-content">
                          <a href="#"><h4>{{ item.product.title }}</h4></a>
                          <h6>{{ item.price }}</h6>
                          <p>{{ item.product.description }}</p>
                          <p style="color: red">{{ item.state_of_product }}</p>
                          <p style="color: red">Quantity ({{ item.quantity }})</p>
                          <p style="color: red">Total {{ item.total }}</p>
                          <span><a href="{% url 'products:remove_cart_product' item.unique_id %}">Remove</a></span>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                    
                </div>
                <div class="call-to-action">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="inner-content">
                            <div class="row">
                              <div class="col-md-8">
                                <h4>Total = ${{ cart.total }}</h4>
                                <p>{% for item in cart %} {{ item.product.title }} = ${{ item.price }}, {% endfor %}</p>
                              </div>
                              <div class="col-md-4">
                                <a href="#" class="filled-button">Purchase Now</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>




  </body>
{% endblock %}
</html>
