{% extends 'base.html' %}
{% load static %}
{% block title %}
    Havana Cigar Shop | home
{% endblock %}
<!DOCTYPE html>
<html lang="en">
{% block content %}
  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home:home' %}"><h2><em>havana</em> Cigar Shop</h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home:home' %}">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'products:products' %}">Our Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home:about_us' %}">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home:contact_us' %}">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account:log in' %}">Login/Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link-cart" href="{% url 'products:cart_products' %}">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </a>
              </li>

            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    <div class="page-heading products-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>havana cigar shop</h4>
              <h2>our products</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <div class="products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="filters">
              <ul>
                    <li><a href="{% url 'products:products' %}">All Products</a></li>
                  {% for item in categories %}
                    <li><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></li>
                  {% endfor %}
              </ul>
            </div>
          </div>
          <div class="col-md-12">
            <div class="filters-content">
                <div class="row grid">
                    {% for item in products %}
                    <div class="col-lg-4 col-md-4 all des">
                      <div class="product-item">
                        <a href="{{ item.get_absolute_url }}"><img src="{{ item.image.url }}" alt="{{ item.title }}"></a>
                        <div class="down-content">
                          <a href="{{ item.get_absolute_url }}"><h4>{{ item.title }}</h4></a>
                          <h6>${{ item.price }}</h6>
                          <p>{{ item.description }}</p>
{#                          <ul class="stars">#}
{#                            <li><i class="fa fa-star"></i></li>#}
{#                            <li><i class="fa fa-star"></i></li>#}
{#                            <li><i class="fa fa-star"></i></li>#}
{#                            <li><i class="fa fa-star"></i></li>#}
{#                            <li><i class="fa fa-star"></i></li>#}
{#                          </ul>#}
                          <span>Add To Cart</span>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
          </div>

          <div class="col-md-12">
            <ul class="pages">
                {% if products.has_previous %}
                    <li><a href="?page={{ products.previous_page_number }}"><i class="fa fa-angle-double-left"></i></a></li>
                    <li><a href="?page={{ products.previous_page_number }}">{{ products.previous_page_number }}</a></li>
                {% endif %}
              <li class="active"><a href="?page={{ products.number }}">{{ products.number }}</a></li>
                {% if products.has_next %}
                    <li><a href="?page={{ products.next_page_number }}">{{ products.next_page_number }}</a></li>

                    <li><a href="?page={{ products.next_page_number }}"><i class="fa fa-angle-double-right"></i></a></li>
                {% endif %}

            </ul>
          </div>

        </div>
      </div>
    </div>



  </body>
{% endblock %}
</html>
